ul{
    display: flex;
    list-style-type: none;
    margin:0;
    padding:0;
}
.header{
    background-color: #ffc0a1;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    color:black;
    text-transform: uppercase;
    margin:10px;
}
a:hover{
    background-color: white;
    text-decoration: none  ;
}
a:active{
    text-decoration: none;
}
.heading{
    color:#ba0707;
    text-shadow:2px 1.25px 3px #d50202;
}